#container {
    width: 80%;
}

@media all and (max-width: 992px) {
    #container .images {
        width: 45%;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 480px) {
     #container  .images {
        width: 90%;
    }
}
